<p>
  <mat-toolbar class = "toolbar">
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welcome</span>
  <span class="example-spacer"></span>
  <a mat-button routerLink="/image"> Upload Image</a>
  <a mat-button routerLink="/video"> Live </a>
  <a mat-button routerLink="/iot_esp32"> IoT Dashboard </a>
  <button *ngIf="pwaService.promptEvent" (click)="installPwa()">
  Install
</button>
</mat-toolbar>
</p>
