<div class="cont d-flex justify-content-center align-items-center flex-column">

  <div class="wrap">
   <div class="search">
      <input type="file" class="searchTerm" (change)="fileChange($event)">
      <label class="searchButton">Select File</label>
      <div class="wrap2" cdkDrag>
        <div *ngIf="loading">
            <img src="./assets/spinners/Spinner.gif">
        </div>
      <div *ngIf="imgSrc" class="example-box">
        <img src="{{ imgSrc }}" width="300px" height="300px" #img>
      </div>
            <div class="list-group-item" *ngFor="let item of predictions">
                {{item.className}} - {{item.probability | percent}}
            </div>
        </div>
  </div>
</div>
  </div>
